<h1> <%= this_meetup.name %> </h1>
<h3> <%= this_meetup.description %> </h3>
<h3> <%= this_meetup.location %> </h3>

<a href = '/'> Home </a>
<!-- Button to join meetup -->
<!-- post user to 'membership' table -->
<!-- alert message saying successful sign up -->
